<!doctype html>
<html>
<head>
    <title>ODesk Watcher - Options</title>
    <link rel="stylesheet" href="css/screen.css" media="screen,projection" type="text/css" />
    <script src="/js/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body ng-app="options">

<div class="container">
    <ul class="list-unstyled config-ctrl" ng-controller="ConfigCtrl as config">
        <li ng-repeat="site in config.sites">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>{{ site.name }}</strong></div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                    <li ng-repeat="(index, skeyObj) in site.keys" ng-controller="SearchKeyCtrl as skey" ng-include="'/options/skey.html'">
                    </li>
                    </ul>
                    <div ng-include="'/options/skey.html'" ng-controller="SearchKeyCtrl as skey" ng-init="skey.new = true">
                    </div>
                </div>
            </div>
        </li>
    </ul>



</div>

<a href="/view.html">сторінка перегляду jobs</a>


    <script src="/js/angular.min.js"></script>
<script src="/js/bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="/js/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/js/options.js"></script>
</body>
</html>